<div class="error-wrapper error-page1">
   <div class="container">
     <div class="svg-wrraper">
      <svg-icon src="assets//svgIcon/error-page-4.svg"></svg-icon>
     </div>
     <div class="col-md-8 offset-md-2">
       <h2>Oops! This Page is Not Found.</h2>
       <p class="sub-content">The page you are attempting to reach is currently not available. This may be because the page does not exist or has been moved.</p><a class="btn btn-primary btn-lg" href="/">BACK TO HOME PAGE</a>
     </div>
   </div>
 </div>