<div class="container-fluid p-0">
   <div class="row">
     <div class="col-12">              
       <div class="login-card">
         <form class="theme-form login-form">
           <h4>Login</h4>
           <h6>Welcome back! Log in to your account.</h6>
           <div class="form-group">
             <label>Email Address</label>
             <div class="input-group"><span class="input-group-text"><i class="icon-email"></i></span>
               <input class="form-control" type="email" required="" placeholder="Test@gmail.com">
             </div>
           </div>
           <div class="form-group">
             <label>Password</label>
             <div class="input-group"><span class="input-group-text"><i class="icon-lock"></i></span>
               <input class="form-control" type="password" name="login[password]" [type]="show ? 'text' : 'password'" required="" placeholder="*********">
               <div class="show-hide" (click)="showPassword()" *ngIf="!show"><span class="show"></span></div>
               <div class="show-hide" (click)="showPassword()" *ngIf="show"><span class="Hide"></span></div>
             </div>
           </div>
           <div class="form-group">
             <div class="checkbox">
               <input id="checkbox1" type="checkbox">
               <label class="text-muted" for="checkbox1">Remember password</label>
             </div><a class="link" href="authentication/forgot-password">Forgot password?</a>
           </div>
           <div class="form-group">
             <button class="btn btn-primary btn-block" type="submit">Sign in</button>
           </div>
           <div class="login-social-title">                
             <h5>Sign in with</h5>
           </div>
           <div class="form-group">
             <ul class="login-social">
              <li><a href="https://www.linkedin.com" target="_blank"><app-feather-icon [icon]="'linkedin'"></app-feather-icon></a></li>
              <li><a href="https://twitter.com" target="_blank"><app-feather-icon [icon]="'twitter'"></app-feather-icon></a></li>
              <li><a href="https://www.facebook.com" target="_blank"><app-feather-icon [icon]="'facebook'"></app-feather-icon></a></li>
              <li><a href="https://www.instagram.com" target="_blank"><app-feather-icon [icon]="'instagram'"></app-feather-icon></a></li>
             </ul>
           </div>
           <p>Don't have account?<a class="ms-2" href="authentication/register/register-simple">Create Account</a></p>
         </form>
       </div>
     </div>
   </div>
 </div>