<div class="container-fluid p-0">
  <div class="row m-0">
    <div class="col-12 p-0">
      <div class="login-card">
        <form class="theme-form login-form create-password-form" [formGroup]="createPasswordForm">
          <h4 class="mb-3">Create Password - {{username}}</h4>
          <div class="form-group">
            <label>New Password</label>
            <div class="input-group"><span class="input-group-text"><i class="icon-lock"></i></span>
              <input class="form-control" type="password" name="createPasswordForm[password]"
                [type]="show ? 'text' : 'password'" required="" placeholder="*********" formControlName="password">
              <div class="show-hide" (click)="showPassword()" *ngIf="!show"><span class="show"></span></div>
              <div class="show-hide" (click)="showPassword()" *ngIf="show"><span class="Hide"></span></div>
            </div>
            <div
            *ngIf="createPasswordForm.controls['password'].touched && createPasswordForm.controls['password'].errors?.['required']"
            class="text text-danger mt-1"> Password is required </div>
          </div>
          <div class="form-group">
            <label>Confirm Password</label>
            <div class="input-group"><span class="input-group-text"><i class="icon-lock"></i></span>
              <input class="form-control" type="password" name="createPasswordForm[password]"  [type]="showConfirm ? 'text' : 'password'" required=""
                placeholder="*********" formControlName="confirmPassword">
              <div class="show-hide" (click)="showConfirmPassword()" *ngIf="!showConfirm"><span class="show"></span></div>
              <div class="show-hide" (click)="showConfirmPassword()" *ngIf="showConfirm"><span class="Hide"></span></div>
            </div>
            <div
            *ngIf="createPasswordForm.controls['confirmPassword'].touched && createPasswordForm.controls['confirmPassword'].errors?.['required']"
            class="text text-danger mt-1"> Confirm password is required </div>
          <div
            *ngIf="createPasswordForm.controls['confirmPassword'].touched && createPasswordForm.controls['confirmPassword'].errors?.['isMatching']"
            class="text text-danger mt-1"> Confirm password is not matched with new password</div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit" [disabled]="!createPasswordForm.valid"
              (click)="createPassword()">Done</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>