<div class="card profile-greeting">
   <div class="card-body">
     <div class="media">
       <div class="media-body"> 
         <div class="greeting-user">
           <h1>Hello, {{name |  titlecase }}</h1>
           <p>Welcome back, your dashboard is ready!</p>
           <!-- <a class="btn btn-outline-white_color" href="users/users-profile">Get Started<i class="icon-arrow-right"></i></a> -->
         </div>
       </div>
     </div>
     <div class="cartoon-img"><img class="img-fluid" src="assets/images/images.svg" alt=""></div>
   </div>
 </div>