<div class="card o-hidden">
   <div class="chart-widget-top">
     <div class="card-body pb-0">
       <div class="row">
         <div class="col-5">
           <h6 class="f-w-600 font-{{data.titleColor}}">{{data.chartTitle}}</h6><span class="num"><span class="counter">{{data.parson}}</span>%<i class="icon-angle-up f-12 ms-1"></i></span>
         </div>
         <div class="col-7 text-end">
           <h4 class="num total-value"><span class="counter">{{data.price}}</span></h4>
         </div>
       </div>
     </div>
     <div>
       <div id="chart-widget1">
         <apx-chart [chart]="data.chart"
            [chart]="data.chart"
            [dataLabels]="data.dataLabels"
            [stroke]="data.stroke"
            [xaxis]="data.xaxis"
            [yaxis]="data.yaxis"
            [grid]="data.grid"
            [fill]="data.fill"
            [colors]="data.colors"
            [series]="data.series"
            [tooltip]="data.tooltip">
            </apx-chart>
       </div>
     </div>
   </div>
 </div>