<div class="card">
   <div class="card-header">
     <div class="row">
       <div class="col-9">
         <h5>Order Status</h5>
       </div>
       <div class="col-3 text-end"><i class="text-muted" data-feather="shopping-bag"></i></div>
     </div>
   </div>
   <div class="card-body">
     <div class="chart-container">
       <div class="progress-bar" id="progress1">
         <apx-chart
            [chart]="process1.chart"
            [plotOptions]="process1.plotOptions"
            [colors]="process1.series"
            [stroke]="process1.stroke"
            [fill]="process1.fill"
            [series]="process1.series"
            [title]="process1.title"
            [subtitle]="process1.subtitle"
            [xaxis]="process1.xaxis"
            [yaxis]="process1.yaxis"
            [tooltip]="process1.tooltip">
            </apx-chart>
       </div>
       <div class="progress-bar" id="progress2">
         <apx-chart
            [chart]="process2.chart"
            [plotOptions]="process2.plotOptions"
            [colors]="process2.series"
            [stroke]="process2.stroke"
            [fill]="process2.fill"
            [series]="process2.series"
            [title]="process2.title"
            [subtitle]="process2.subtitle"
            [xaxis]="process2.xaxis"
            [yaxis]="process2.yaxis"
            [tooltip]="process2.tooltip">
            </apx-chart>
       </div>
       <div class="progress-bar" id="progress3">
         <apx-chart
            [chart]="process3.chart"
            [plotOptions]="process3.plotOptions"
            [colors]="process3.series"
            [stroke]="process3.stroke"
            [fill]="process3.fill"
            [series]="process3.series"
            [title]="process3.title"
            [subtitle]="process3.subtitle"
            [xaxis]="process3.xaxis"
            [yaxis]="process3.yaxis"
            [tooltip]="process3.tooltip">
            </apx-chart>
       </div>
       <div class="progress-bar" id="progress4">
         <apx-chart
            [chart]="process4.chart"
            [plotOptions]="process4.plotOptions"
            [colors]="process4.series"
            [stroke]="process4.stroke"
            [fill]="process4.fill"
            [series]="process4.series"
            [title]="process4.title"
            [subtitle]="process4.subtitle"
            [xaxis]="process4.xaxis"
            [yaxis]="process4.yaxis"
            [tooltip]="process4.tooltip">
            </apx-chart>
       </div>
       <div class="progress-bar" id="progress5">
         <apx-chart
            [chart]="process5.chart"
            [plotOptions]="process5.plotOptions"
            [colors]="process5.series"
            [stroke]="process5.stroke"
            [fill]="process5.fill"
            [series]="process5.series"
            [title]="process5.title"
            [subtitle]="process5.subtitle"
            [xaxis]="process5.xaxis"
            [yaxis]="process5.yaxis"
            [tooltip]="process5.tooltip">
            </apx-chart>
       </div>
     </div>
   </div>
 </div>