<div class="small-chart-widget chart-widgets-small">
   <div class="card">
     <div class="card-header pb-0">
       <div class="media">
         <div class="media-body">
           <h5>Turnover</h5>
         </div>
         <div class="icon-box onhover-dropdown"> <app-feather-icon [icon]="'more-horizontal'"></app-feather-icon>
           <div class="icon-box-show onhover-show-div">
             <ul> 
               <li> <a>
                    Done</a></li>
               <li> <a>
                    Pending</a></li>
               <li> <a>
                    Rejected</a></li>
               <li> <a>In Progress</a></li>
             </ul>
           </div>
         </div>
       </div>
     </div>
     <div class="card-body">
       <div class="chart-container">
         <div class="row">
           <div class="col-12">
             <div id="chart-widget7">
              <apx-chart 
              [chart]="turnover.chart"
              [series]="turnover.series"
              [dataLabels]="turnover.dataLabels"
              [stroke]="turnover.stroke"
              [fill]="turnover.fill"
              [colors]="turnover.colors"
              [title]="turnover.title"
              [xaxis]="turnover.yaxis"
              [yaxis]="turnover.yaxis"
              [legend]="turnover.legend">
              </apx-chart>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>