<div class="container-fluid p-0"> 
   <div class="row m-0">
     <div class="col-12 p-0">    
       <div class="login-card">              
         <div class="login-main theme-form login-form"> 
           <form [formGroup]="forgotPasswordRequestForm">
             <h4 class="mb-3">Reset Your Password</h4>
             <div class="form-group">
               <label>Enter Username</label>
               <div class="input-group"><span class="input-group-text"><i class="icon-user"></i></span>
                <input class="form-control" type="text" required="" placeholder="username" formControlName="username">
              </div>
             </div>
             <div class="form-group">
               <button class="btn btn-primary btn-block" type="submit" [disabled]="!forgotPasswordRequestForm.valid || sendButton==='Sent'" (click)="forgotPasswordRequest()">{{sendButton}}</button>
             </div>
           </form>
             <!-- <div class="form-group"><span class="reset-password-link">If don't receive reset code?  <a class="btn-link text-danger" (click)="forgotPasswordRequest()">Resend</a></span></div> -->
             <form [formGroup]="forgotPasswordForm">
              <h6>Create Your Password</h6>
             <div class="form-group">
               <label>Enter Reset Code</label>
               <div class="row">
                 <div class="col">
                   <input class="form-control text-center opt-text" type="text" formControlName="code">
                   <div *ngIf="forgotPasswordForm.controls['code'].touched && forgotPasswordForm.controls['code'].errors?.['required']" class="text text-danger mt-1"> Reset Code is required </div>
                 </div>
               </div>
             </div>
             <div class="form-group">
               <label>New Password</label>
               <div class="input-group"><span class="input-group-text"><i class="icon-lock"></i></span>
                 <input class="form-control" type="password" name="forgotPasswordForm[password]"  [type]="show ? 'text' : 'password'" required="" placeholder="*********" formControlName="password">
                 <div class="show-hide" (click)="showPassword()" *ngIf="!show"><span class="show"></span></div>
                 <div class="show-hide" (click)="showPassword()" *ngIf="show"><span class="Hide"></span></div>
               </div>
               <div *ngIf="forgotPasswordForm.controls['password'].touched && forgotPasswordForm.controls['password'].errors?.['required']" class="text text-danger mt-1"> New Password is required </div>
             </div>
             <div class="form-group">
              <label>Confirm Password</label>
              <div class="input-group"><span class="input-group-text"><i class="icon-lock"></i></span>
                <input class="form-control" type="password" name="forgotPasswordForm[password]"  [type]="showConfirm ? 'text' : 'password'" required=""
                  placeholder="*********" formControlName="confirmPassword">
                <div class="show-hide" (click)="showConfirmPassword()" *ngIf="!showConfirm"><span class="show"></span></div>
                <div class="show-hide" (click)="showConfirmPassword()" *ngIf="showConfirm"><span class="Hide"></span></div>
              </div>
              <div
              *ngIf="forgotPasswordForm.controls['confirmPassword'].touched && forgotPasswordForm.controls['confirmPassword'].errors?.['required']"
              class="text text-danger mt-1"> Confirm password is required </div>
            <div
              *ngIf="forgotPasswordForm.controls['confirmPassword'].touched && forgotPasswordForm.controls['confirmPassword'].errors?.['isMatching']"
              class="text text-danger mt-1"> Confirm password is not matched with new password</div>
            </div>
             <div class="form-group">
               <button class="btn btn-primary btn-block" type="submit" [disabled]="!forgotPasswordForm.valid" (click)="forgotPassword()">Done</button>
             </div>
             <p>Already have an password?<a class="ms-2" href="auth/login">Sign in</a></p>
           </form>
         </div>
       </div>
     </div>
   </div>
 </div>